<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGREGAR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/CSS/estilosproveedor.css">
  </head>

<!-- CREACION DEL LA PLANTILLA -->

<body>

  <br>

  <br>

  <!-- TITULO DE LA PLANTILLA -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
        <h1 class="text-center text-dark">AGREGAR COMPRA</h1>
          <div class="card-body">
              
              <!-- HACEMOS LA PETICION POST DEL MODULO COMPRAS -->

              <form action="/agregarcompras" method="post">
              <div class="form-group">
                <label style="color: black; display: block; text-align: left;">DESCRIPCION DE LA COMPRA</label>
                <input type="text" id="descripcionCompra"  name="descripcionCompra" class="form-control" placeholder="DESCRIPCION">
                <br>

                <!-- LLAVE FORANEA -->
                <label style="color: black; display: block; text-align: left;">NOMBRE DEL PROVEEDOR</label>
                <select th:field="*{compra.proveedor}" name="proveedor" class="form-control">
                    <option th:each="proveedores : ${proveedor}" th:value="${proveedores.idProveedor}"  th:text="${proveedores.nombreProveedor}"></option>
                </select>
                <!-- LLAVE FORANEA -->

                <br>

                <label style="color: black; display: block; text-align: left;">VALOR DE LA COMPRA</label>
                <input type="number" id="valorToltalCompra"  name="valorToltalCompra" class="form-control" placeholder="VALOR DE LA COMPRA">
                <br>
                 <br>
                <label style="color: black; display: block; text-align: left;">FECHA DE LA COMPRA</label>
                <input type="date"  id="fechaCompra"  name="fechaCompra" class="form-control">
                 <br>

                <!-- BOTON DE REGISTRAR -->

                <div class="box-footer">
                  <button  type="submit" class="btn btn-primary">REGISTRAR COMPRA</button>
                 </div>

              </div>
            </form>
          </div>
      </div>


    </div>
  </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/JS/formularios.js"></script>
    <!-- <script src="../JS/scripdashboard.js"></script> -->
</body>

<!-- FIN DE LA PLANTILLA -->

</html>
