<!DOCTYPE html>
<html lang="es" xmlns:th"http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPRA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/CSS/estilosproveedor.css">
    <link rel="icon" href="./public/imagenes/logo.png">
  </head>

<!-- CREACION DEL LA PLANTILLA -->

<body>
 
    <div class="container">
      <div class="row text-center d-flex align-items-center">
          <h1 class="text-align: center;">COMPRA</h1>
      </div>

      <!-- CREACION DE LOS BOTONES DE REPORTES Y DE ATRAS -->

      <div class="row">
        <div class="col-lg-3 d-flex flex-row">
          <a th:href="@{/Agregarcompra}" class="btn btn-primary btn-sm mb-3 mr-2">REGISTRAR COMPRA</a>
          <a href="#" class="btn btn-success btn-sm mb-3 mr-2">REPORTE EN EXCEL</a>
          <a href="#" class="btn btn-danger btn-sm mb-3 mr-5">REPORTE EN PDF</a>
          <a id="btncareverga" th:href="@{/dashboard}" class="btn btn-light btn-sm mb-3">ATRAS</a>
        </div>
      </div>

      <br>

      <!-- CREACION DE LOS TITULOS DE LA PLANTILLA -->

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID COMPRA</th>
            <th scope="col">DESCRIPCION COMPRA</th>
            <th scope="col">NOBRE DEL PROVEEDOR</th>
            <th scope="col">VALOR COMPRA</th>
            <th scope="col">FECHA COMPRA</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>

        <!-- CARGAMOS DEL MODELO ENVIADO LLAMADO REGISTRAR COMPRAS  -->

        <tbody>
          <tr th:each="compras:${compra}">
            <td name="idCompra" id="idCompra"  th:text="${compras.idCompra}"></td>
            <td th:text="${compras.descripcionCompra}"></td>
            <td th:text="${compras.proveedor.nombreProveedor}"></td>
            <td th:text="${compras.valorToltalCompra}"></td>
            <td th:text="${compras.fechaCompra}"></td>

            <!-- BOTONES DE LAS ACCIONES EDITAR Y AGREGAR -->

            <td>
              <a class="btn btn-primary" th:href="@{/editarcompra/{idCompra}(idCompra=${compras.idCompra})}">EDITAR</a>
              <a class="btn btn-danger" th:href="@{/eliminarcompra/{idCompra}(idCompra=${compras.idCompra})}">ELIMINAR</a>
            </td>

          </tr>
        </tbody>

      </table>
        </tbody>
      </table>
    </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/JS/formularios.js"></script>
</body>

<!-- FIN DE LA PLANTILLA -->

</html>