<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONIX +</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/CSS/estiloshomepage.css">
    <link rel="stylesheet" href="./public/CSS/botonwhasapp.css">
    <link rel="icon" href="./public/imagenes/logo.png">

</head>

<body>
    
    <header class="header">
        
        <div class="menu container">
            <a th:href="@{/paginainicial}" class="logo">
                <img src="./public/imagenes/logo.png" alt="ONIX Logo">
            </a>
            <input type="checbox" id="menu"/>
            <label for="menu">
                <img src="./public/imagenes/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="/Servicios">Servicios</a>
                    </li>
                    <li>
                        <a href="/Productos">Productos</a>
                    </li>
                    <li><a href="#">Contáctenos</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <a href="/login"><button class="icono-login"><ion-icon name="person"></ion-icon></button></a>
                        </div>
                    </li>
                </ul>
            </div>          
        </div>
        <div class="header-content container d-flex justify-content-center align-items-center">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./public/imagenes/personalizado.jpg" class="d-block w-60 mx-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Productos personalizados</h5>
                      <p>Cotize los mejores precios del mercado con nosotros!</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./public/imagenes/uniforme2.jpg" class="d-block w-60 mx-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Tiempos Comodos de Entrega</h5>
                      <p>Trabajamos con tiempos rapidos y eficientes</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./public/imagenes/pantalonesVestir.jpg" class="d-block w-60 mx-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>La Mejor Calidad</h5>
                      <p>Utilizamos los mejores prodcutos del mercado</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

    </header>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=3053656257&text=Hola, me gustaria Obtener más información" class="float" target="_blank">
<i class="fa fa-whatsapp my-float "></i>
</a>

    <!-- INICIO LOGIN -->
    <!-- <div class="wrapper">
        <span class="cerrar-icono">
            <ion-icon name="close"></ion-icon>
        </span>

        <div class="para-caja-logeo">
            <h2>Ingresar</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="correo"   required>
                    <label>Correo electrónico</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="contraseña"  required>
                    <label>Contraseña</label>
                </div>
                <div class="recordar-correo">
                    <label>
                        <input type="checkbox" name="recordar"> Recordar
                        </label>
                        <a href="#">¿Olvidó su contraseña?</a>
                </div>
                <button id="login-button" class="btn-login" onclick="loguear()">Entrar</button>
                <div class="registro-logeo">
                    <p>Crear cuenta<a href="#" class="link-registro">Registrarse</a></p>
                </div>
            </form>
        </div>
        <div class="para-caja-registro">
            <h2>Registro</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" required>
                    <label>Nombre Usuario</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Correo electrónico</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>

                <div class="recordar-correo">
                    <label>
                        <input type="checkbox" name="recordar"> Acepta términos y condiciones
                        </label>
                </div>
                <button type="submit" class="btn-login">Registrarse</button>
                <div class="registro-logeo">
                    <p>Ya tengo cuenta<a href="#" class="link-ingresar">Ingresar</a></p>
                </div>
            </form>
        </div>
    </div> -->
    
    <!-- FIN LOGIN -->



    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="./public/imagenes/chaquetaVigilante.jpg"  class="img">              
            </div>
            <div class="ofert-txt">
                <h3>Chaquetas</h3>
                <a href="/error404" class="btn-2">Información</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="./public/imagenes/uniforme.jpg" class="img">              
            </div>
            <div class="ofert-txt">
                <h3>Uniformes</h3>
                <a href="/error500" class="btn-2">Información</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="./public/imagenes/camisas.jpg" class="img">              
            </div>
            <div class="ofert-txt">
                <h3>Camisas</h3>
                <a href="/error404" class="btn-2">Información</a>
            </div>
        </div>
    </section>

    <main class="products container" id="lista-1">

        <h2>Productos Destacados</h2>

        <div class="product-content">

            <div class="product">
                <img src="./public/imagenes/chaquetaFrio.jpg" class="img">
                <div class="product-txt">
                    <h3>Chaqueta Enguatada</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$80.000</p>
                    <a href="/error500" class="agregar-carrito btn-2" data-id="1">Más Información</a>
                </div>
            </div>

            <div class="product">
                <img src="./public/imagenes/Pantalones2.jpg" class="img">
                <div class="product-txt">
                    <h3>Pantalon en Dril</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$60.000</p>
                    <a href="/error500" class="agregar-carrito btn-2" data-id="1">Más Información</a>
                </div>
            </div>

            <div class="product">
                <img src="./public/imagenes/camisas2.jpg" class="img">
                <div class="product-txt">
                    <h3>Camisas de Vestir</h3>
                    <p>Calidad Premium</p>
                    <p class="precio">$40.000</p>
                    <a href="/error500" class="agregar-carrito btn-2" data-id="1">Más Información</a>
                </div>
            </div>

            <div class="product">
                <img src="./public/imagenes/chaquetaProm.jpg" class="img">
                <div class="product-txt">
                    <h3>Chaquetas PROM</h3>
                    <p>Personalizadas según el cliente</p>
                    <p class="precio">$70.000</p>
                    <a href="/error500" class="agregar-carrito btn-2" data-id="1">Más Información</a>
                </div>
            </div>

            <div class="product">
                <img src="./public/imagenes/trajeBioseguridad.jpg" class="img">
                <div class="product-txt">
                    <h3>Traje de Bioseguridad</h3>
                    <p>Debidamente homologado para sus funciones de trabajo</p>
                    <p class="precio">$30.000</p>
                    <a href="/error500" class="agregar-carrito btn-2" data-id="1">Más Información</a>
                </div>
            </div>

            <div class="product">
                <img src="./public/imagenes/chaquetaReflectiva.jpg" class="img">
                <div class="product-txt">
                    <h3>Chaquetas Reflectivas</h3>
                    <p>Perfectas para los motociclistas</p>
                    <p class="precio">$90.000</p>
                    <a href="/error500" class="agregar-carrito btn-2" data-id="1">Más Información</a>
                </div>
            </div>

        </div>

    </main>

    <main class="products container" id="lista-1">

        <h2>Nuestros Clientes</h2>
     </main>   

    <section class="icons container">
        <div class="icon-1">
            <div class="icon-img">
                <a href="https://www.acueducto.com.co/wps/portal/EAB2/Home/inicio/!ut/p/z1/hY5BC4JAEIV_iwevzrRLYt22DoJEshJkewm1TQ11ZV3177fQKdjowRzmzfeGBwJyEEOxtHVhWjUUnd1vIryH_IibCMkZeYbI-S6lMb2QOKFw_QcIe8YfYmjzwoEwPGTkQBHjlDiBrx8JiLpT5acuG0oa1SC0fEotdTBrazfGjNPeRx_XdQ2KapaPuTIqqFRvx0dXsFGTgdzFw9jn-Np2y4l53hvtB_OW/dz/d5/L2dBISEvZ0FBIS9nQSEh/"><img src="./public/imagenes/acueducto.jpg" class="img"></a>
            </div>
            <div class="icon-txt">
                <h3>Acueducto</h3>
                
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <a href="https://www.prosegur.com.co/landings/SEM/prosegur_pure-gen-brand?source=google&medium=cpc&campaign=11961164066&content=600618625876&term=prosegur&gad=1&gclid=EAIaIQobChMI-OanrqTbgAMVxpaGCh0hagFREAAYASAAEgKLa_D_BwE"><img src="./public/imagenes/prosegur.webp" class="img"></a>
            </div>
            <div class="icon-txt">
                <h3>Prosegur</h3>
             
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <a href="https://www.registraduria.gov.co/"><img src="./public/imagenes/registraduria.jpg" class="img"></a>
            </div>
            <div class="icon-txt">
                <h3>Registraduria Nacional</h3>

            </div>
        </div>
    </section>

    <footer class="footer">
       <div class="footer-content container">

           <div class="sec-1">
               <img src="./public/imagenes/logo.png" alt="logo">
               <p>"Diseñamos y confeccionamos prendas que destacan por su calidad, confort y atención al detalle, reflejando lo mejor de tu empresa."</p>
               <div class="footer-icon">
                   <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i>Facebook</a>
                   <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i>Instagram</a>
                   <a href="https://www.x.com/"><i class="fab fa-twitter"></i>Twitter</a>
               </div>
           </div>
           <div class="link">
               <h4>Nuestros Productos</h4>
                    <li><a href="/Productos">Chaquetas</a></li>
                    <li><a href="/Productos">Uniformes</a></li>
                    <li><a href="/Productos">Camisetas</a></li>
                    <li><a href="/Productos">Pantalones</a></li>
           </div>

            <div class="link">
                <h4>Contactenos</h4>
                    <li><a href="https://api.whatsapp.com/send?phone=3053656257&text=Hola, me gustaria Obtener más información">WhastApp: +57 3053656257</a></li>
                    <li><a href="https://gmail.com/">Correo: Onix@confeciones.com</a></li>
                    <li><a href="https://maps.app.goo.gl/KeaAgfnEFodL4hZr7">Dirección: Cl. 49d Sur #5c-68, Bogotá</a></li>
            </div>



        </div>

    </footer>

    <script src="../JS/scriphomepage.js"></script>
    <script src="../JS/scriphomepagelogin.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../JS/validacionlogin.js"></script>

</body>
</html>