<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/CSS/estiloslogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>ONIX +</title>
    <link rel="icon" href="./public/imagenes/12323.jpg">



</head>
<body>
<div class="background"></div>
<div class="centering">
    <form class="my-form" action="" method="post" onsubmit="return validarFormulario()">
        <div class="login-welcome-row">
            <img class="login-welcome" src="./public/imagenes/123456789.png" alt="Onix Logo">
            <!-- optimize the image in production -->
            <h1>Bienvenido</h1>
        </div>
        <div class="text-field">
            <label for="exampleInputEmail1">Email:</label>
            <input
                    aria-label="Email"
                    type="email"
                    id="exampleInputEmail1"
                    name="txtCorreo"
                    placeholder="Ingresar Correo"
                    required>
        </div>

        <div class="text-field">
            <label for="exampleInputPassword1">Password:</label>
            <input
                    id="exampleInputPassword1"
                    type="password"
                    aria-label="Password"
                    name="txtContraseña"
                    placeholder="Ingresa Contraseña"
                    required>

        </div>
        <input type="submit" class="my-form__button" value="Login" >
    </form>
</div>
</body>


<!-- Agregar mensaje de error usando JavaScript -->
<p id="mensajeError" class="error-message" style="display:none;">Credenciales incorrectas. Por favor, inténtalo de nuevo.</p>

<script>
    function validarFormulario() {
        var correo = document.getElementById("exampleInputEmail1").value;
        var contraseña = document.getElementById("exampleInputPassword1").value;

        // Verificar que el correo contenga al menos un carácter "@"
        if (correo.indexOf("@") === -1) {
            // Mostrar mensaje de error y evitar el envío del formulario
            document.getElementById("mensajeError").innerText = "El correo electrónico debe contener '@' ";
            document.getElementById("mensajeError").style.display = "block";
            return false;
        }

        // Agregar tu lógica condicional aquí
        if (correo === "dilan1@gmail.com" && contraseña === "1234") {
            // Redirigir al dashboard
            window.location.href = "/indexdashboard";
            return false; // Evitar el envío del formulario

        } else if (correo === "julian1@gmail.com" && contraseña === "12345") {
             // Redirigir a otra página
                window.location.href = "/indexdashboard2";
                event.preventDefault();
        } else {
            // Mostrar mensaje de error y permitir el envío del formulario
            document.getElementById("mensajeError").style.display = "block";
            return true;
        }
    }
</script>

</div>

</body>
</html>
