<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONIX +</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/public/CSS/estilosproductos.css">
    <link rel="stylesheet" href="../static/public/CSS/botonwhasapp.css">

</head>
<body>
    
    <header class="header">
        
        <div class="menu container">
            <a href="Indexhomepage.html" class="logo">ONIX +</a>
            <input type="checbox" id="menu"/>
            <label for="menu">
                <img src="./public/imagenes/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Indexhomepage.html">Inicio</a></li>
                    <li><a href="Error 505.html">Servicios</a></li>
                    <li><a href="Error 505.html">Productos</a></li>
                    <li><a href="Error 505.html">Contacto</a></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <a href="/login"><button class="icono-login"><ion-icon name="person"></ion-icon></button></a>
                        </div>
                    </li>
                </ul>
            </div>          
        </div>

        <main>
        
            
    <table>
        <tr >
            <td class="product-image">
                <img src="./public/imagenes/uniforme.jpg" alt="Producto">
            </td>
            <td>
                <h2>Uniformes Colegiales</h2>
                <p>Realizamos cualquier uniforme de cualquier colegio, incluyendo estampados y tallaje.</p>
                <p>Precio: $80.000</p>
                <p>Disponibilidad: En Stock</p>
                <p>Características:</p>
                <ul>
                    <li>Uniforme completo.</li>
                    <li>Material de calidad.</li>
                    <li>Estampados.</li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="botones">
        <a th:href="@{/paginainicial}" class="boton">Volver</a>
        <a href="https://api.whatsapp.com/send?phone=3053656257&text=Hola, me gustaria Obtener más información"class="boton">Cotización</a>
    </div>
        
    </main>

    </header>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=3053656257&text=Hola, me gustaria Obtener más información" class="float" target="_blank">
<i class="fa fa-whatsapp my-float "></i>
</a>

    <!-- INICIO LOGIN -->
    <div class="wrapper">
        <span class="cerrar-icono">
            <ion-icon name="close"></ion-icon>
        </span>

        <div class="para-caja-logeo">
            <h2>Ingresar</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="correo"   required>
                    <label>Correo electrónico</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="contraseña"  required>
                    <label>Contraseña</label>
                </div>
                <div class="recordar-correo">
                    <label>
                        <input type="checkbox" name="recordar"> Recordar
                        </label>
                        <a href="#">¿Olvidó su contraseña?</a>
                </div>
                <button id="login-button" class="btn-login" onclick="loguear()">Entrar</button>
                <div class="registro-logeo">
                    <p>Crear cuenta<a href="#" class="link-registro">Registrarse</a></p>
                </div>
            </form>
        </div>
        <div class="para-caja-registro">
            <h2>Registro</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input type="text" required>
                    <label>Nombre Usuario</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required>
                    <label>Correo electrónico</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>

                <div class="recordar-correo">
                    <label>
                        <input type="checkbox" name="recordar"> Acepta términos y condiciones
                        </label>
                </div>
                <button type="submit" class="btn-login">Registrarse</button>
                <div class="registro-logeo">
                    <p>Ya tengo cuenta<a href="#" class="link-ingresar">Ingresar</a></p>
                </div>
            </form>
        </div>
    </div>
    
    <!-- FIN LOGIN -->
    

    <footer class="footer">

        <div class="footer-content container">

            <div class="link">
                <h3>Productos</h3>
                <ul>
                    <li><a href="productoChaquetaVigilancia.html">Chaquetas</a></li>
                    <li><a href="productoUniforme.html">Uniformes</a></li>
                    <li><a href="productoCamisas.html">Camisetas</a></li>
                    <li><a href="productoPantalonDril.html">Pantalones</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Contactenos</h3>
                <ul>
                    <li><a href="https://api.whatsapp.com/send?phone=3053656257&text=Hola, me gustaria Obtener más información">WhastApp: +57 3053656257</a></li>
                    <li><a href="https://gmail.com/">Correo: Onix@confeciones.com</a></li>
                    <li><a href="https://maps.app.goo.gl/KeaAgfnEFodL4hZr7">Dirección: Cl. 49d Sur #5c-68, Bogotá</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Ayuda</h3>
                <ul>
                    <li><a href="Error 404.html">Metodos de Pago</a></li>
                    <li><a href="Error 505.html">Cotización Personalizada</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Siguenos</h3>
                <ul>
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i>  Facebook</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i>  Instagram</a></li>
                    <li><a href="https://www.x.com/"><i class="fab fa-twitter"></i>  Twitter</a></li>
                </ul>
            </div>

        </div>

    </footer>

    <script src="../JS/scriphomepage.js"></script>
    <script src="../JS/scriphomepagelogin.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../JS/validacionlogin.js"></script>

</body>
</html>